*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    overflow-y: hidden;
}

#risultato{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-right: 25%;
    margin-left: 25%;
    background-color: white;
    color: black;
    padding: 2%;
    font-size: 11px;
}
